@font-face {
  font-family: 'Electrolize';
  font-style: normal;
  font-weight: 400;
  src: local('Electrolize'), local('Electrolize-Regular'), url(https://fonts.gstatic.com/s/electrolize/v5/DDy9sgU2U7S4xAwH5thnJ4gp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.trans-02s {
  transition-duration: 200ms;
  perspective: 1000;
}

.holosmallbtn {
  width: 200px;
  height: 80px;
  display: block;
  position: relative

  bottom: 5px;
  cursor: pointer;
  justify-self: stretch;
  /*left: 63px;*/
  /*right: -5px;*/
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  /*top: 159px;*/
  column-rule-color: rgb(255, 255, 255);
  perspective-origin: 100px 40px;
  transform-origin: 100px 40px;
  border: 0px none rgb(255, 255, 255);
  font: normal normal normal normal 12px / 16.8px Electrolize;
  outline: rgb(255, 255, 255) none 0px;
}

.holosmallbtn.inactive {
  opacity: 0.5;
  cursor: default;
}

.holosmallbtn-top {
  background-position: 50% -10px;
  bottom: -12px;
  cursor: pointer;
  display: block;
  height: 50px;
  justify-self: stretch;
  left: 0px;
  position: absolute;
  right: 0px;
  text-align: center;
  text-decoration: none solid rgb(0, 247, 255);
  text-shadow: rgb(0, 0, 0) 1px 2px 0px;
  text-size-adjust: 100%;
  text-transform: uppercase;
  top: 0px;
  width: 200px;
  z-index: 2;
  column-rule-color: rgb(0, 247, 255);
  perspective: 1000px;
  perspective-origin: 100px 46px;
  transform-origin: 100px 46px;
  background: rgba(0, 0, 0, 0) url("/halo-add-cart-btn.png") no-repeat scroll 50% -10px / auto padding-box border-box;
  border: 0px none rgb(0, 247, 255);
  font: normal normal normal normal 12px / 16.8px Electrolize;
  outline: rgb(0, 247, 255) none 0px;
  padding: 42px 0px 0px;
  transition: all 0.2s ease 0s;
}

.holosmallbtn-bottom {
  background-position: 50% -110px;
  bottom: -8px;
  cursor: pointer;
  display: block;
  height: 80px;
  justify-self: stretch;
  left: 5px;
  position: absolute;
  right: -5px;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  top: 8px;
  width: 200px;
  z-index: 1;
  column-rule-color: rgb(255, 255, 255);
  perspective: 1000px;
  perspective-origin: 100px 40px;
  transform-origin: 100px 40px;
  background: rgba(0, 0, 0, 0) url("https://robertsspaceindustries.com/rsi/static/images/store/halo-add-cart-btn.png") no-repeat scroll 50% -110px / auto padding-box border-box;
  border: 0px none rgb(255, 255, 255);
  font: normal normal normal normal 12px / 16.8px Electrolize;
  outline: rgb(255, 255, 255) none 0px;
  transition: all 0.2s ease 0s;
}

.holosmallbtn {
  width: 200px;
  height: 80px;
  display: block;
  position: relative
}

.holosmallbtn.inactive {
  opacity: 0.5;
  cursor: default
}

/*.holosmallbtn:not(.inactive):hover>.holosmallbtn-top,
.holosmallbtn:not(.inactive).active>.holosmallbtn-top {
  transform: translate(16px, 0);
  transition-delay: 0.2s;
  color: white;
}*/

.holosmallbtn:not(.inactive):hover>.holosmallbtn-bottom,
.holosmallbtn:not(.inactive).active>.holosmallbtn-bottom {
  /*100% { transform: translate(11px, -8px) }*/
  animation-name: buttonMove;
}

/*.holosmallbtn:hover:not(.inactive)>.holosmallbtn-top,
.holosmallbtn.active:not(.inactive)>.holosmallbtn-top {
  transform: translate(16px, 0);
  transition-delay: 0.2s;
  color: white;
}*/

/*.holosmallbtn:hover:not(.inactive)>.holosmallbtn-bottom,
.holosmallbtn.active:not(.inactive)>.holosmallbtn-bottom {
  transform-origin: 0 0;
  animation-name: buttonMove;
}*/

@keyframes buttonMove {
  0% { transform: translate(11px, -8px) }
  /*100% { transform: translate(11px, -8px) }*/

  /*0% { transform: scaleX(0) };
  100% { transform: scaleX(100%) };*/
}

.holosmallbtn .holosmallbtn-top {
  background: url('/halo-add-cart-btn.png') no-repeat center -10px;
  width: 200px;
  height: 50px;
  z-index: 2;
  text-transform: uppercase;
  font-family: 'Electrolize', Arial, Helvetica, sans-serif;
  color: #00f7ff;
  text-align: center;
  padding-top: 42px;
  font-size: 12px;
  text-shadow: 1px 2px 0px #000;
}

.holosmallbtn .holosmallbtn-bottom {
  background: url('/halo-add-cart-btn.png') no-repeat center -110px;
  width: 200px;
  height: 80px;
  z-index: 1;
  left: 5px;
  top: 8px;
}

.abs-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
